@import '../../style.scss' ;
.containerLandingpage {
    margin: auto;
    width: $widthLarge;
    display: flex;
}
@media (max-width:767px) {
    .containerLandingpage {
        flex-direction: column;
        width: $widthMin;
        margin: 0;
    }
}