@import '../../style.scss' ;
.containerLandingpage {
    margin: auto;
    width: $widthLarge;
    display: flex;
}
@media (max-width:767px) {
    .containerLandingpage {
        flex-direction: column;
        width: $widthMin;
        margin: 0;
    }
}
@media (min-width:768px) and (max-width:1024px)  {
    .containerLandingpage {
        width: $widthMediem;
        margin: 0;
        gap: 52px;
    }

}