@import '../../style.scss' ; 
.services-container {
    width: $widthLarge;
    margin: auto;
    margin-top: 2rem;
    background-image:url('../../images/bg/cars.png') ;
    height: 845px;
    text-align: center  ;
    display: grid;
    align-items: center;
    justify-content: center;
    & h3 {
        color: $red;
    }
    & h1 {
        color: $gray1;
    }
    & p {
        color: $gray1;
        font-size: 14px;
        width: 1239px;
        margin: auto;
    }
}
.card {
    display: flex;
    gap: 17px;
    width: 1239px;
    height: 501px;
}
.service-container {
    width: 400px;
    height: 501px;
    background-size:cover;
    text-align: center;
    border-radius : 4px;
    & .icon {
        margin-top: 8rem;
        width: 75px;
        height: 75px;
    }
    & h2 {
        color: #fff;
    }
    & p{
        color: #fff;
        font-size: 13px;
        width: 267px;
        margin: auto;
    }
    & button {
        background-color: $red;
        width: 144px;
        height: 58px;
        color: #fff;
        border: none;
        margin-top: 2rem;
    }
}