@import '../../style.scss' ; 
.services-container {
    width: $widthLarge;
    margin: auto;
    margin-top: 2rem;
    background-image:url('../../images/bg/cars.png') ;
    height: 845px;
    text-align: center  ;
    display: grid;
    align-items: center;
    justify-content: center;
    & h3 {
        color: $red;
    }
    & h1 {
        color: $gray1;
    }
    & p {
        color: $gray1;
        font-size: 14px;
        width: 1239px;
        margin: auto;
    }
}
.card {
    display: flex;
    gap: 17px;
    width: 1239px;
    height: 501px;
}
.service-container {
    width: 400px;
    height: 501px;
    background-size:cover;
    text-align: center;
    border-radius : 4px;
    & .icon {
        margin-top: 8rem;
        width: 75px;
        height: 75px;
    }
    & h2 {
        color: #fff;
    }
    & p{
        color: #fff;
        font-size: 13px;
        width: 267px;
        margin: auto;
    }
    & button {
        background-color: $red;
        width: 144px;
        height: 58px;
        color: #fff;
        border: none;
        margin-top: 2rem;
        cursor: pointer;
    }
}
@media (max-width:767px) {
    .services-container {
        width: calc($widthMin + 50px );
        margin: 0;
        margin-top: 3rem;
        h1,h3,p{
            width: $widthMin;
        }
    } 
    .card {
        width: $widthMin;
        margin: 0;
        flex-direction: column;
        // margin-top: 2rem;
        & .service-container {
            width: fit-content ; 
            height:400px;
            & .icon {
                margin-top: 3rem;
            }
        }
    }
}
@media (min-width:768px) and (max-width:1024px)  {
    .services-container  {
        width: calc($widthMediem +  150px);
        margin: 0;
        // justify-content: start;
        flex-wrap: wrap;
        & p {
            width: $widthMediem; 
        }
        .card {
            width: 200px;
            justify-content: start;
            margin-left: -3.5rem;
        } 
    }
    .service-container  {
        width: 250px;
        text-align: center;
        h1,h3,p{
            width: inherit;
        }
        p{
            font-size: 18px
        }
    }

}