@import '../../style.scss' ; 
.brandListeContainer {
    display: flex;
    width:$widthLarge;
    height: 80;
    margin: auto;
    margin-top: 3rem;
    justify-content: center;
    gap: 50px;
    & button {
        border: none;
        cursor: pointer;
        background-color: transparent;
    }
    img {
        width: 50px;
    }
}
@media (max-width:767px) {
    .brandListeContainer {
        width: $widthMin;
        margin: 0;
        margin-top: 2rem;
        flex-wrap: wrap;
    }
}
@media (min-width:768px) and (max-width:1024px)  {
    .brandListeContainer  {
        width: $widthMediem;
        margin: 0;
        gap:10px ;  
        margin-left: 3.5rem;
        & img {
            width: 75px;
        }
    }
}