.carsCotainer {
    display: flex;
    justify-content: space-between;
}
@media (max-width:767px) {
    .carsCotainer {
        flex-direction: column;
        gap: 10px;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    .carsCotainer {
        justify-content: start;
        gap: 60px;
    }
}