@import '../../style.scss' ; 
.advantages-container {
    width: $widthLarge;
    margin: auto;
    margin-top: 4rem;
    .listeAvnatge {
        display: flex;
        flex-wrap: wrap ;
         & .avantage {
            display: flex;
            gap: 40px;
            justify-content: center;
            width: 397px;
            height: 145px;
            & .text h2{
                color: $gray1;
            }
            .text p {
                color: $gray2;
            }
        }
    }
}
.infoContainer {
    text-align: center;
    width: $widthLarge;
    & h2 {
        color: $red;
        font-size: 20px;
    }
    & h1 {
        color: $gray1;
        font-size: 25px;
    }
    & p {
        color: $gray2;
    }
}