@import '../../style.scss' ; 
.advantages-container {
    width: $widthLarge;
    margin: auto;
    margin-top: 4rem;
    .listeAvnatge {
        display: flex;
        flex-wrap: wrap ;
         & .avantage {
            display: flex;
            gap: 40px;
            justify-content: center;
            width: 397px;
            height: 145px;
            & .text h2{
                color: $gray1;
            }
            .text p {
                color: $gray2;
            }
        }
    }
}
.infoContainer {
    text-align: center;
    width: $widthLarge;
    & h2 {
        color: $red;
        font-size: 20px;
    }
    & h1 {
        color: $gray1;
        font-size: 25px;
    }
    & p {
        color: $gray2;
    }
}
@media (max-width:767px) {
    .advantages-container {
        width: $widthMin;
        margin: 0;
        margin-top: 20rem;
    }
    .infoContainer {
        width: 100%;
        text-align: center;
        margin: auto;
        text-align: center;
        p {
            width: 90%;
            margin: auto;
        }
    }
    .listeAvnatge {
        margin-top: 4rem;
        flex-direction: column;
    }
    .text p {
        width: 80%;
    }
    
}
@media (min-width:768px) and (max-width:1024px)  {
    .advantages-container {
        width: calc($widthMediem + 130px);
        margin: 0;
         .infoContainer  {
            width: 100%;
         }
        .listeAvnatge {
            justify-content: space-between;
            .avantage {
                width: 300px;
                margin-top: 2rem;
            }
        }
    }
 }