@import '../../../style.scss' ;
.descriptionCotainer {
    width: 800px;
    height: 377px;
    transform: translateY(203px);
    & h1 {
        color: $gray1;
        font-size: 50px;
        text-indent: 20px;
    }
    & p {
        width: 600px;
        color: $gray2;
        font-size: 19px;
    }
    & .btn {
        width: 363px;
        display: flex;
        gap: 5px;
        button:first-child {
            background-color: $red;
            color: #fff;
            width: 202px;
            border: none;
            height: 64px;
            cursor: pointer;
        }
        button:last-child {
            background-color: #fff;
            border: $red 2px solid ;
            color: $red;
            width: 202px;
            height: 64px;
            cursor: pointer;
        }
    }
}
@media  (max-width : 767px) {
    .descriptionCotainer {
        transform: translateY(10px);
        justify-content: center;
        width: $widthMin;
        padding: 5px;
        & h1{
            text-align: center;
            font-size: 35px;
        }
        & p {
            text-align: center;
            font-size: 16px;
            width: 100%;
        }
        & .btn {
            text-align: center;
            flex-direction: column;
            margin-top: 28rem;
        }
    }
}
@media (min-width:768px) and (max-width:1024px)  {
    .descriptionCotainer {
        width: 400px;
        transform: translateY(10px);
        & h1{
            font-size: 30px;
        }
        & p {
            text-align: center;
            font-size: 16px;
            width: 100%;
        }
    }
}