@import '../../style.scss' ; 
.subscribeContainer {
    background-color: $red2;
    text-align: center;
    width: $widthLarge;
    margin: auto;
    padding: 10px 0;
    margin-top: 5rem;
    h1{
        color: $gray2;
        font-size: 30px;
    }
    p {
        color: $gray2;
        font-size: 14px;
    }
    form {
        input {
            background: #fff;
            width: 400px;
            height: 40px;
            border: none;
            padding: 0 10px;
            outline: none;  

        }
        button {
            color: #fff;
            background: $red;
            width: 117px;
            height: 40px;
            margin-left: -40px;
            border: none;
            cursor: pointer;
        }
    }
}
@media (max-width:767px) {
    .subscribeContainer {
        width: 400px;
        margin: 0;
        margin-top: 2rem;
    }
    form {
        width: $widthMin;
        display: flex;
        input {
            margin-left: 2rem;
        }
    }

}
@media (min-width:768px) and (max-width:1024px)  {
     .subscribeContainer  {
        width: calc($widthMediem + 130px );
        margin: 0;
        margin-top: 2rem;
     }
}