@import 'leaflet/dist/leaflet.css';
@import '../../style.scss' ; 
.contactContainer {
    width: $widthLarge;
    margin: auto;
    height: 575px;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}
.info {
    .sausiau {
        margin-top: 4rem;
        cursor: pointer;
        border: none;
        background-color: transparent;
    }
}
.map {
    button {
        margin-top: 3rem;
        margin-left: -1rem;
        cursor: pointer;
        background-color: $red;
        color: white;
        border: none;
        width: 195px;
        height: 58px;
    }
}
.ContactInfoContainer {
    width: 492px;
    & h3{
        color: $red2;
        font-size: 16px;
    }
    & h2 {
        color: $gray1;
        font-size: 30px;
    }
    & p{
        color: $gray2;
    }
    & .card {
        display: flex;
        margin-top: 2.5rem;
        gap: 15px;
        align-items: center;
        & button {
            border: none;
            background-color: transparent;
            cursor:pointer ; 
        }
    }
}
@media (max-width:767px) {
    .ContactInfoContainer {
        width: $widthMin;
        flex-direction: column;
        margin-top: 4rem;
        text-align: center;
         p {
            width: $widthMin;
            margin-left: 1rem;
        }
    }
    .contactContainer {
        width: $widthMin;
        flex-direction: column;
        margin: 0;
    }
    .map {
        text-align: center;
        width: 400px;
        display: flex;
        align-items: center;
        flex-direction: column;
        align-items: center;
        
    }
}
@media (min-width:768px) and (max-width:1024px)  {
    .contactContainer {
        width: $widthMediem;
        margin: 0;
        margin-top: 2rem;
        flex-direction: column;
    }
}