@import '../../style.scss' ; 
.rantFormContainer {
    background-color: $red2;
    height: 294px;
    margin-top: -100px;
    & .btnContainer {
        display: flex;
        gap: 3px;
        width: 1142px;
        margin: auto;
        & button{
            margin-top: 3rem;
            cursor: pointer;
            background-color: #fff;
            border: none;
            color: $gray2;
            width: 123px;
            height: 48px;
        }
        & .active {
            color: $red;
        }
    }
    & .formContainer {
         width: 1142px;
         margin: auto;
         background-color: #fff;
    }
}
.formContainer{
    display: flex;
    justify-content: center;
    gap: 66px;
    & .form-group {
        margin-top: 2rem;
        height: 82px;
        & label {
            color: $gray1;
        }
        & input {
            color: $gray2;
            border: none;
            outline: none;
            width: 161px;
            height: 42px;
        }
        & input::placeholder {
            color: $gray2;
        }
        & button {
            background-color: $red;
            cursor: pointer;
            color: #fff;
            width: 146px;
            height: 58px;
            border: none;
        }
    }

}
@media (max-width:767px) {
    .rantFormContainer {
        height: fit-content;
        margin-top: 200px;
        padding: 5px;
        width: calc($widthMin + 50px);
        & .btnContainer {
            align-items: center;
            width: inherit;
            & button {
                margin-top:1rem ;
            }
        }
        & .formContainer {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color:$red2;
            width:100%;
            margin-top: 1rem;
            & .form-group {
                margin: -19px;
                input {
                    width: 250px;
                }
            }
        }
    }
}
@media (min-width:768px) and (max-width:1024px)  {
    .rantFormContainer {
        .btnContainer {
            margin:0 ;
        }
        .formContainer {
            width: inherit;
            justify-content: start;
            gap: 5px;
            
             & .form-group {
                & button {
                    width:130px ;
                }
            }
        }
    }
}