@import '../../style.scss' ; 
.navContainer {
    width: $widthLarge;
    margin: auto;
    display: flex;  
    gap: 520px;
    & .navbar {
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 607px;
        & button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            color:$black ;
            text-decoration: none;
            font-size: 16px;
            transition: all 1;
            &:hover {
                transform: translateY(-2px);
            }
        }
    }
}
.barr {
    .icon {
        display: none;
    }
}
@media (max-width:767px) {
    .navContainer {
        width: $widthMin;
        gap: 0;
        margin: 0;
        margin-top: 1rem;
        .barr {
            margin: auto;
            display: flex;
            align-items: center;
            gap: 200px;
            .icon {
                display: block;
            }
        }
        & .navbar {
            display: none;
            flex-direction: column;
            justify-content: center;
            margin-top: 3rem;
            text-align: left;
            background-color: $gray1;
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 200px;
            & li {
                margin-top: 1rem;
                margin-left: -2rem;
                button{
                    color: #fff ;
                }
            } 
        }
        & .active {
            display: block;
             animation: fadeIn 0.3s ease-in-out;
        }
     
    }

}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}