$red :  #F55757 ; 
$red2 :#FEE7E7  ;
$gray1 : #595959 ; 
$gray2 : #737373 ; 
$black : #404040 ; 
$widthLarge : 1252.92px ;
$widthMin : 350px ; 
$widthMediem : 700px ; 
body {
    font-family: 'Poppins', sans-serif;;
      overflow-x: hidden;
}