@import '../../../style.scss' ; 
.containerSection {
    margin-top: 2rem;
    & img:first-child {
        height: 534px;
        width: 770px;
    }
    & img:last-child {
        height: 454px;
        width: 853px;
        margin-top: -300px;
        margin-left: -65px;
    }
}
@media (max-width:767px) {
    .containerSection {
        margin-top: -10rem;
        display: flex;
        flex-direction: column;
        gap: 12rem;
        img:first-child {
            width: 396px;
            height: 268px;
        }
        img:last-child {
            width: 400px;
            height: 232px;
            margin-left: 5px;
        }
        
    }
}
@media (min-width:768px) and (max-width:1024px)  {
    .containerSection {
        width: $widthMediem;
        img:first-child {
            width: 100%;
            height: 268px;
        }
        img:last-child {
            width: 400px;
            height: 232px;
            margin-left: 5px;
        }
    }
}